
@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');

.header1{
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: black;
  font-size: 24px;
  text-align: left;
  margin-top: 30px;
  margin-left: 20px;
}

.header2{
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: black;
  font-size: 24px;
  text-align: left;
  margin-left: 20px;
  margin-bottom: 20px;
}


.square {
  height: 250px;
  width: 250px;
  background-color: #8E8A86;
  margin: 10px; /* Small space between squares */
  border-radius: 20px;
  transition: all 0.099s ease;
  display: flex;
  justify-content: center;
  align-items: center; 
  text-decoration: none;
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: black;
  font-size: 30px;
}


.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.square:hover{
  width: 300px;
  height: 300px;
 
}

