@import url('https://fonts.cdnfonts.com/css/conduit-itc-medium');
font-family: 'Conduit ITC Medium', sans-serif;
                                                
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
font-family: 'Conduit ITC Medium', sans-serif;

  
  h1{ /*I have to keep this additional h1 here or else the other one doesnt work*/
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:blueviolet;
  }
  
  h1{
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #3D1742;
    font-size: 50px;
    margin: auto;
    text-align: center;
    margin-top:5%;
  }
  
  body{
    background-color: #f5f5ff;
  }

  p{
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    color: #3D1742;
  }



  section{
    display: flex;
    flex-direction: column;
    justify-content:center;
    margin-top:5%;
    margin-bottom:5%;

  }

.row{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 0px;
  grid-auto-flow: dense;
  margin: 0px 0px 0px 0px;
  margin-left: 20%;
  margin-right: 10%;
  padding: 0px 0px 0px 0px;

  

}

.play{
    grid-column: 1/ span 1;
    margin: 0px 0px 0px 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right:10px;
}

.play:hover{
  width: 110px;
}

.num{
    grid-column: 2/ span 1;
    text-align: left;
    border-style: solid;
    border-width: 1px;
    border-color: #3D1742;
    margin: 0px 0px 0px 0px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 5px;
}

.title{
      grid-column: 3/ span 4;
      text-align: left;
      border-style: solid;
      border-width: 1px;
      border-color: #3D1742;
      margin: 0px 0px 0px 0px;
      padding-top: 30px;
      padding-bottom: 30px;
      padding-left: 5px;
  
}

.artist{
  grid-column: 7/ span 3;
  text-align: left;
  border-style: solid;
  border-width: 1px;
  border-color: #3D1742;
  margin: 0px 0px 0px 0px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 5px;
}


