.row{
  width:900px;
}

.square {
  height: 250px;
  width: 250px;
  background-color: #555;
  margin: 10px; /* Small space between squares */
  border-radius: 20px;
  border: 1px solid #09F;
}

.square1 {
  height: 250px;
  width: 250px;
  background-color: #555;
  margin: 10px; /* Small space between squares */
  margin-right: 0;
  border-radius: 20px;
  border: 1px solid #09F;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.column {
  display: flex;
  flex-direction: column;
}

.specialsquare{
  height: 250px;
  width: 250px;
  background-color: #CAECFF;
  margin: 10px; /* Small space between squares */
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center; 

}

.note img{
  width: 100px;
  padding:0;
  margin:0;
}

.specialsquare:hover{
  width: 300px;
  height: 300px;
  margin-left: 0;
 
}