body{
    background-color: #f5f5ff;
  }

#playing{
  width:2000px;
}

.disappear {
  animation: disappear 0s linear 1s forwards;
}

@keyframes disappear {
  to {opacity:0;}
}

/*https://www.reddit.com/r/HTML/comments/buo5mj/how_to_make_a_gif_disappear_after_a_few_seconds/?captcha=1*/
