
@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');

body{
  background-color: #CAECFF;
}
.header1{
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: black;
  font-size: 24px;
  text-align: left;
  margin:0;
  margin-top: 30px;
  margin-left: 20px;
  padding:0;
}

.header2{
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: black;
  font-size: 24px;
  text-align: left;
  margin:0;
  margin-left: 20px;
  margin-bottom: 20px;
  padding:0;
}

.header1-5{
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: black;
  margin:5px;
  font-size: 24px;
  text-align: left;
  margin-left: 20px;
}


p{
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  color: white;
}


.container{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 0px 0px 0px;
  margin-top: 50px;
}

.row{
  display:flex;
  flex-direction: row;
  align-items: center;
  margin-left: 40%;
  margin-right: 40%;
}

.play{
  width:42px;
}
.play:hover{
  width: 80px;
}

.row p, .row img{
  margin: 0;
  padding: 0;
  padding-left: 10px;
  margin-left: 10px;
}


.bord{
  background: white;
  border-radius: 8px;
  border: 1px solid #09F;
  width: 545px;
  margin-left: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.bord p{
  display: inline-block;
  margin:0;
}

.title{
  width: 307px;
  margin: 0;
}

.ttitle{
  width: 307px;
  margin: 0;
  color: black;
}

.aartist{
  color: black;
}



.yayhatedj{
  width:160px;
}


.yayheav{
  width:200px;
}

.yayrec{
  width:180px;
}

.yaysmile{
  width:280px;
}

.play{
  width:50px;
  transition: all 0.099s ease;
}



.play:hover{
  width: 110px;
}

audio{
  display: none;
}

